---
import { footer } from '../../styles/components/footer.css';
const currentYear = new Date().getFullYear();
---

<footer class={footer}>
  <div class="container">
    <p>&copy; {currentYear} Yuki. All rights reserved.</p>
  </div>
</footer>
